//Font Imports 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8ebc1;
    height: 100vh;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 10vh;
    position: fixed;
    width: 100vw;
    z-index: 9999;

    .left-nav{
        margin: 1.5%;
        
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin: 0px 0px 0px 65px;

            li{
                list-style: none;
                margin: 0px 25px;
                font-family: 'Montserrat', sans-serif;
                font-size: 1vw;
                font-weight: bold;
                a{
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

        p{
            font-size: 30px;
        }
        
    }

    .right-nav{
        
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin: 0px 60px 0px -65px;

            li{
                list-style: none;
                margin: 0px 25px;
                font-family: 'Montserrat', sans-serif;
                font-size: 1vw;
                font-weight: bold;

                a{
                    text-decoration: none;
                    cursor: pointer;
                    font-size: 20px;
                    font-family: 'Playfair Display', serif;
                    transition: ease-in .5ms;

                    &:hover{
                        color: black;
                        transition: ease-in .5ms;
                        cursor: pointer;
                    }
                }
                .current-page{
                    color: black;
                }
            }
        }
    }
}

.main-section{

    .parent{
    
        .image-grid-container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            img{
                width: 70%;
                height: 70%;
                margin-top: 19%;
                margin-left: 19%;

                &:hover{
                    filter: grayscale(80%);
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width:415px) {
    .main-section{
        .parent{
            .image-grid-container{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img{
                    margin: 0px 0px 5% 0px;
                }

                img:nth-child(1){
                    margin-top: 25%;
                }
            }
        }
    }
}